/Exe01CriarVetACom5ValorEVetBIgualAoVetA.class
/Exe02VetACom8InteirosEVetBIgualMasMultiplicadoPor2.class
/Exe03VetorACom15IntVetBIgualMasAoQuadradoDoVetA.class
/Exe04VetorACom10IntVetBIgualMasARaizQuadDoVetA.class
/Exe05VetorACom10IntVetBIgualMasMultpPorSuaPosicao.class
/Exe06VetorACom10IntVetCQueSomaOsVetAEB.class
/Exe07VetorACom10IntVetCQueSubtraiaOsVetAEB.class
/Exe08VetorACom10IntVetCQueDividaOsVetAEB.class
/Exe09VetorACom10IntVetCQueDividaOsVetAEB.class
/Exe10VetorACom10IntVetBComRestoDivsaoPor2doVetA.class
/Exe11VetA10IntDefinaEscrevaQuantidadeDePares.class
/Exe12VetorA10IntImprimaSomaDeTodosElementos.class
/Exe13VetA10IntImprimirMultiplosDe5.class
/Exe14VetA10IntImprimirMediaDosImpares.class
/Exe15VetorA10IntDefinirPorcentagemDeParEImpar.class
/Exe16VetorA10IntEmentosIguasMenoresMaioresA15.class
/Exe17VetorA10IntQtdPessoasMaioresDe35.class
/Exe18VetorA10IntMenorIdadeEMaiorIdadeEPosicaoDaIdadeNoVet.class
/Exe19CalcularMediaDeNotasNosVetoresComUmVetResult.class
/Exe20CotacaoDolarParaReal.class
/Exe22GerarAleatoriamenteVetA10IntValoresIguas0E1.class
/Exe23QualVetNaoEParSeForContinuarSenaoEncerrar.class
/Exe24VerificarSeVetorEPalindromos.class
/Exe25VetorAVetorBValoresAlternados.class
/Exe26VetorAVetBVetCESuasRegras.class
/Exe27VetA10IntVetBIgualComAlgumasRegras.class
/Exe28VetA10IntVetBIgualPoremDevemEstarInvertidos.class
/Exe29VetAEB10IntVetCJuncaoDosOutrosVet.class
/Exe30VetA20ElementosVetAEBArmazenandoParImparDeVetA.class
