/Exe01MaiorNumero.class
/Exe02ValorPositivoOuNegativo.class
/Exe03SexoFemininoOuMasculino.class
/Exe04VogalOuConsoante.class
/Exe05AlunoAprovadoReprovado.class
/Exe06TresNumeroOMaior.class
/Exe07TresNumerosMaiorEMenor.class
/Exe08TresProdutosComprarMaisBarato.class
/Exe09TresNumerosOrdemDecrescente.class
/Exe10PeriodoQueEstuda.class
/Exe11ReajustesSalarios.class
/Exe12FolhaPagamentoDescontoImpostos.class
/Exe13DiaSemanaNumero.class
/Exe14MediaSemestreAluno.class
/Exe15QualTriangulo.class
/Exe16CalculandoRaizesEquacaoSegundoGrau.class
/Exe17AnosBissexto.class
/Exe18NumeroParOuImpar.class
/Exe19QualOperacaoQuerFazerParImparPositivoNegativo.class
/Exe20DesevendandoCrime.class
/Exe21GasolinaAlcoolDescontoLitros.class
/Exe22DescontoNaCompraMacaMorango.class
