/Exercicio01.class
/Exercicio02.class
/Exercicio03SomaDoisNumeros.class
/Exercicio04NotaBimestral.class
/Exercicio05MetrosParaCm.class
/Exercicio06RaioAreaCirculo.class
/Exercicio07AreaQuadrado.class
/Exercicio08TotalSalarioMensal.class
/Exercicio09FarenheitParaCelsius.class
/Exercicio10CelsiusParaFarenheit.class
/Exercicio11NumeroInteiroRealExercicios.class
/Exercicio12PesoIdeal.class
/Exercicio13SalarioImpostos.class
/Exercicio14VelocidadeDonwload.class
