/Exe01PedirNumeroEntre0e10AteNumeroInvalido.class
/Exe02NomeDeUsuarioDiferenteDaSenha.class
/Exe03DadosPessoais.class
/Exe04CrescimentoPais1EmRelacaoPais2.class
/Exe05InsiraOsValoresExeIgualAo4MasComUsuario.class
/Exe06NumerosDe01A20DepoisUmDoLadoDoOutro.class
/Exe07Peca5NumerosImprimaOMaior.class
/Exe08Informe5NumerosImprimaSomaEMedia.class
/Exe09NumerosImpares0A150.class
/Exe10Leia2NumerosInteirosGerarNumeroDoIntervalo.class
/Exe11ProgramaExe10ComSoma.class
/Exe12TabuadaEntre1E10.class
/Exe13BaseExpoente.class
/Exe14QuantidadeDeParesImpares.class
/Exe15Exe16SequenciaFibonacciNEsimoTermo.class
/Exe17CalulandoFatorial.class
/Exe18LeiaUmNumeroImprimaSeEPrimo.class
/Exe19MediaAritmeticaDeNotaN.class
/Exe20MediaDeIdadeDeNPessoas.class
/Exe21MediaDeAlunosPorTurma.class
/Exe22MediaDeGastoNaColecaoDeCds.class
/Exe23TabelaDePrecosMercado.class
/Exe24TabelaDePrecosPanificadora.class
/Exe25TabelaDePrecosLojaConveninencia.class
/Exe26ImprimirCalculoFatorial.class
/Exe27MediaDeTemperaturas.class
/Exe28NumeroInteiroLerImprimirSeForPrimo.class
/Exe29ListaDeNumerosPrimos.class
/Exe30TabuadaInicioFimConformeUsuarioQueira.class
